//Begin Variable
$white-color: #ffffff;
$orange-color: #ff9c46;
$dark-red-color: #642200;
$black-color: #000000;

$fs-0: 1.4rem;
$fs-1: 3.6rem;
$fs-2: 1.6rem;
$fs-3: 1.3rem;
$fs-4: 1.2rem;

$font-jp-1: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", serif;
$font-jp-2: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
$font-en: Muli;

$pd-0: 1rem;
$pd-1: 2rem;
$pd-2: 4rem;
$pd-3: 5rem;
$pd-4: 3.5rem;

$mg-0: 1rem;
$mg-1: 2rem;
$mg-2: 4rem;
$mg-3: 5rem;
$mg-4: 3.5rem;

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
// End Variable

//Begin mixin
@mixin styleText($color,$fs,$fw){
    color:$color ;
    font-size: $fs;
    font-weight: $fw;
}

@mixin styleButton($bg-color,$border,$pd-y,$pd-x,$bd-radius) {
    background-color:$bg-color ;
    border: 2px solid $border;
    padding:$pd-y $pd-x;
    border-radius:$bd-radius;    
}

@mixin hoverButton($bg-hover,$bd-hover,$color-hover) {
    background-color:$bg-hover ;
    border-color:$bd-hover ;
    color: $color-hover;
}
//End mixin

//small
@mixin responsive($screen) {
    @if map-has-key($map:$breakpoints , $key:$screen ){
        $value: map-get($map:$breakpoints , $key:$screen );
        @media screen and (max-width:$value) {
            @content;
        }
    }
    @else{
        @warn "Nhap lai di";
    }
}

//End mixin

:root {
    font-size: 10px;
}
html, body{
    font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", serif;    
    @include styleText( $black-color,$fs-2 , 500);
    background-color: $white-color;
}